<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="First Test-Suite">
    <test name="Test Basics 1">
        <classes>
            <class name="org.example.Task17a"/>
            <class name="org.example.Task17b"/>
            <class name="org.example.Task17c"/>
            <class name="org.example.Task17d"/>
        </classes>
    </test>
</suite>